/***** Default *****/

* {
    margin: 0;
    padding: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

* {
    box-sizing: border-box;
}

/***** Custom *****/

#pageContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/***** Nav *****/

.firstHeader {
    width: 100%;
    height: 41px;
    border-bottom: 1px solid #b8bbcc;
    background-color: #000;
    }

.firstHeader ul {
    display: inline-block;
    float: left;
    list-style-type: none;
}

.firstHeader li {
    display: inline-block;
    margin-left: 25px;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100px;
    color: #b8bbcc;
}

.firstHeader a {
    text-decoration: none;
    color: #b8bbcc;
}

.firstHeader a:hover {
    text-decoration: none;
    color: #fff;
}

.navImage img {
    display: inline-block;
    height: 40px;
    width: 80px;
    padding-right: 8px;
    margin-left: 180px;
    float: left;
}

.listGames a.anchorGames {
    color: #fff;
    text-shadow: 3px 2px 5px #fff;
}

.listGames i {
    color: #b8bbcc;
    text-shadow: none;
}

.listGames i:hover {
    color: #fff;
}

.secondList {
    margin-left: 45%;
}

/***** Header *****/

.headerContainer {
    height: 800px;
    position: relative;
    background-image: no-repeat;
}

.headerContainer img {
    height: 800px;
    width: 100%;
}

.topHeader {
    height: 60px;
    width: 80%;
    position: absolute;
    top: 35px;
    margin: 0 10%;
    border-radius: 4px;
    opacity: .8;
    background-color: #273751;
    border: 1px solid #4286f4;
}

li .starCraft {
    padding-left: 30px;
}

li.starCraft img {
    display: inline-block;
    height: 58px;
    width: 90px;
    position: relative;
    top: 20px;
    right: 30px;
}

.headerListOne li {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

.headerListOne li a {
    color: #ccebff;
    text-decoration: none;
}

.headerListOne li a:hover {
    color: #ffffff;
}

.headerListTwo li {
    display: inline-block;
    padding-left: 30px;
    position: relative;
    bottom: 43px;
    padding-right: 20px;;
    float: right;
    font-family: 'Open Sans', sans-serif;
}

.headerListTwo li a{
    text-decoration: none;
    color: #ccebff;
}

.headerListTwo li a:hover {
    color: #ffffff;
}

.headerListTwo .playNowButton {
    height: 60px;
    background: linear-gradient(#1F1210, #5E3C02);
    border: 2px solid #7F5F13;
    position: relative;
    bottom: 64px;
    left: 1px;
    float: right;
}

.headerListTwo .playNowButton:hover {
   box-shadow: 0 0 20px #ddd;
}

.headerListTwo .playNowButton a {
    color: #D2BF9B;
    position: relative;
    top: 63px;
    right: 5px;
}

.lowerHeaderSection {
    display: inline-block;
    text-align: center;
    height: 60px;
    width: 100%;
    position: relative;
    top: 460px;
}

.lowerHeaderOne {
    display: inline-block;
    padding: 10px 0;
    margin-right: 50px;
    border-radius: 3.5px;
    border: 4px solid orange;
    box-shadow: 0 0 20px #ddd;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(#1F1210, #5E3C02);
}

.lowerHeaderOne a {
    color: #D2BF9B;
    padding: 20px 45px;
    text-decoration: none;
}

.lowerHeaderOne a:hover {
    color: #fff;
    padding: 20px 45px;
    /* box-shadow: 0px 0px 30px #ddd; */
    text-decoration: none;
}

.lowerHeaderTwo {
    display: inline-block;
    background: linear-gradient(#061625, #02305F);
    padding: 10px 0;
    border-radius: 3.5px;
    border: 4px solid #007acc;
    box-shadow: 0 0 20px #ddd;
    font-family: 'Open Sans', sans-serif;
}

.lowerHeaderTwo a {
    color: #ccebff;
    padding: 20px 45px;
    text-decoration: none;
}

.lowerHeaderTwo a:hover {
    color: #fff;
    padding: 20px 45px;
    /* box-shadow: 0px 0px 30px #ddd; */
    text-decoration: none;
}

/***** First Section *****/

.sectionContainerOne {
    height: 2400px;
    position: relative;
    background-image: no-repeat;
    border-top: 1px solid #ccebff;
}

.sectionMainImageOne img {
    display: block;
    height: 1200px;
    width: 100%;
    border-bottom: 1px solid #ccebff;
}

.sectionOneTopP p {
    display: block;
    width: 100%;
    position: absolute;
    top: 50px;
    color: #fff;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.sectionOneMidText {
    display: block;
    width: 100%;
    position: absolute;
    top: 850px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.gameplayText p {
    color: #7490A9;
    font-size: 1.5em;
    font-weight: bold;
}

.playitText p {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
}

.sectionOneMidP p {
    padding-top: 25px;
    color: #7B8A93;
    font-size: 1.5em;
    font-weight: bold;
}
/***************************************************/
/* .sectionOneWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    /* grid-auto-rows: 100px; */
    /* grid-auto-rows: minmax(100px, auto);
 } */

.sectionOneRow  {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 208px;
    justify-content: center;
    opacity: .8;
}

.sectionOneContainer {
    padding: 10px;
    margin: 4px;
    border-radius: 10px;
    border: 1px solid #4286f4;
    /*  border: 1px solid #4286f4; */
    box-shadow: 0 0 20px #ddd;
    background-color: #273751;
/*  background: linear-gradient(#061625, #02305F); */
    -moz-box-shadow:    inset 0 0 10px #fff;
    -webkit-box-shadow: inset 0 0 10px #fff;
    box-shadow:         inset 0 0 10px #fff;
}

.sectionOneTerranImg img, .sectionOneTossImg img, .sectionOneZergImg img   {
    width: 400px;
    height: 470px;
    border-radius: 10px;
}

.sectionOneContainer h2 {
    width: 400px;
    position: absolute;
    bottom: 180px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    /* background: green; */
}

.sectionOneContainer p {
/*     display: block; */
    width: 400px;
    position: absolute;
    bottom: 60px;
    /* color: #7B8A93; */
    color: #b0c1cf;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    /* background: red; */
}

.sectionOneFooter {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute ;
    bottom: 100px;
}

.sectionOneFooterP p {
    display: inline-block;
    color: #b0c1cf;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.sectionOneFooterButton a {
    display: inline-block;
    padding: 10px 25px;
    position: absolute;
    bottom: -10px;
    right: 390px;
    color: #ccebff;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    border-radius: 3.5px;
    border: 4px solid #007acc;
    background: linear-gradient(#061625, #02305F);
}

.sectionOneFooterButton a:hover {
    color: #fff;
}

/***** Second Section *****/

.sectionContainerTwo {
    height: 1200px;
    position: relative;
    background-image: no-repeat;
    font-family: 'Open Sans', sans-serif;
}

.sectionContainerTwo img {
    display: block;
    height: 1200px;
    width: 100%;
    background-image: no-repeat;
    border-bottom: 1px solid #ccebff;
    border-top: 1px solid #ccebff;
}

.sectionTwoTop {
    width: 840px;
    padding: 10px;
    margin-left: 531.5px;
    margin-right: 531.5px;
    position: absolute;
    top: 100px;
    opacity: .8;
    border-radius: 10px;
    /* border: 1px solid #4286f4; */
    text-align: center;
    /* text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000; */
    /* background-color: #273751; */
}

.sectionTwoPOne {
    color: #7490A9;
    font-size: 1.5em;
    font-weight: bold;
}

.sectionTwoPTwo {
    color: #fff;
    font-size: 2.5em;
    font-weight: bold;
}

.sectionTwoPThree {
    padding-top: 25px;
    /* color: #7B8A93; */
    color: #b0c1cf;
    font-size: 1.5em;
    font-weight: bold;
}

.sectionTwoBox {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 240px;
    justify-content: center;
}

.sectionTwoContainer {
    margin: 8px;
    height: 520px;
    /* text-align: center; */
    background: linear-gradient(#010F1C, #01152A);
    border: 2px solid #033163;
}

.sectionTwoContainer h2 {
    padding: 15px 0 0 25px;
    color: #fff;
    font-weight: bold;
}

.sectionTwoContainer p {
    padding: 15px 10px 10px 25px;
    color: #b0c1cf;
    font-size: 1.1em;
    font-weight: bold;
}

.sectionTwoFirstImg img, .sectionTwoSecondImg img, .sectionTwoThirdImg img {
    display: block;
    height: 350px;
    width: 480px;
}

.sectionTwoFooter {
    position: absolute;
    width: 100%;
    bottom: 95px;
}

.sectionTwoFooterP p {
   display: inline-block;
   padding-left: 350px;
   color: #b0c1cf;
   font-size: 1.2em;
   font-weight: bold;
}

.sectionTwoFooterButton a {
    display: inline-block;
    padding: 10px 25px;
    position: absolute;
    bottom: -17px;
    right: 400px;
    color: #ccebff;
    text-decoration: none;
    border-radius: 3.5px;
    border: 4px solid #007acc;
    background: linear-gradient(#061625, #02305F);
}

.sectionTwoFooterButton a:hover {
    color: #fff;
}

/***** Third Section *****/

.sectionContainerThree {
    height: 850px;
    position: relative;
    background-image: no-repeat;
    font-family: 'Open Sans', sans-serif;
}

.sectionContainerThree img {
    display: block;
    height: 850px;
    width: 100%;
}

.sectionThreeTop {
    position: absolute;
    top: 160px;
    left: 250px;
}

.sectionThreePOne p {
    padding-top: 25px;
    color: #FBC34F;
    font-size: 1.3em;
    font-weight: bold;
}

.sectionThreePTwo p {
    color: #FDFFFC;
    font-size: 3em;
}

.sectionThreePThree p {
    color: #66c2ff;
    /* color: #fff; */
    font-size: 1.1em;
    font-weight: bold;
}

.sectionThreePThree p a {
    padding: 0 6px;
    color: #fff;
    font-size: 25px;
}

.sectionThreePThree p a:hover {
    color: #007acc;
}

.sectionThreeButton {
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 340px;
}

.sectionThreeButtonOne a {
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    left: 250px;
    color: #D2BF9B;
    text-decoration: none;
    border-radius: 3.5px;
    border: 4px solid orange;
    box-shadow: 0 0 20px #ddd;
    background: linear-gradient(#1F1210, #5E3C02);
}

.sectionThreeButtonOne a:hover {
    color: #fff;
}

.sectionThreeButtonTwo a {
    display: inline-block;
    padding: 10px 20px;
    position: absolute;
    left: 500px;
    color: #ccebff;
    text-decoration: none;
    border-radius: 3.5px;
    border: 4px solid #007acc;
    box-shadow: 0 0 20px #ddd;
    background: linear-gradient(#061625, #02305F);
}

.sectionThreeButtonTwo a:hover {
    color: #fff;
}

.sectionThreeFooter {
    display: flex;
    height: 180px;
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: .8;
    border-top: 1px solid #4286f4;
    border-bottom: 1px solid #ccebff;
    background: #273751;
}

.ThreeFooterP p {
    font-size: 2em;
    color: #FDFFFC;
    padding: 68.5px 10px 68.5px 250px;
}

.sectionThreeSocial {
    padding-top: 59px;
    position: absolute;
    right: 250px;
}

.sectionThreeSocial a {
    display: inline-block;
    margin-left: 4px;
    color: #fff;
    font-size: 40px;
}

.sectionThreeSocial a:hover {
    color: #007acc;
}

/***** Footer *****/

.footerContainer {
    padding-top: 55px;
    height: 510px;
    position: relative;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background: #000;
}

.footerImgOne img {
    padding-top: 20px;
    height: 80px;
    width: 145px;
}

.footerList ul {
    line-height: 4;
}

.footerList ul li {
    display: inline-block;
}

.footerList ul li a {
    padding: 0 15px;
    color: #fff;
    text-decoration: none;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footerList ul li a:hover {
    color: #007acc;
    font-weight: bold;
}

.footerPOne p {
    color: #595959;
    font-size: 13px;
    font-weight: bold;
}

.footerPOne ul {
    line-height: 1.5;
}

.footerPOne ul li {
    display: inline-block;
    padding: 8px 0;
}

.footerPOne ul li a {
    padding: 0 10px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    border-right: 1px solid rgba(255, 255, 255, .3);
}

.footerPOne ul li:last-child a {
    border-right: none;
}

.footerPOne ul li a:hover {
    color: #007acc;
    font-weight: bold;
}

.footerLast {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.footerLast img {
    padding-left: 10px;
    height: 100px;
    width: 78px;
}

.footerLast p {
    padding-left: 8px;
    color: #595959;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
}
